                h1 {
                    background-color:rgb(245, 148, 192);
                    text-align: center;
                    font-size: 60px;
                    font-family: cursive;
                    margin-block-start: 0px;
                    
                }

                h2, h3 {
                    text-align: center;
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 40px 0px 10px 0px;
                    font-size: 40px;
                }

                #Contents{
                    color:rgb(0, 43, 199);
                }
                
                .Gajar{
                    color:rgb(255, 148, 61);
                }
                
                .Aloo{
                    color:rgb(128, 124, 92);
                }
                
                .Charts{
                    background-color:rgb(62, 201, 164);
                    margin-left: auto;
                    margin-right: auto;
                    padding: 20px;
                    width: 70%;
                }
                
                .Notes{
                    color:rgb(107, 0, 0);
                }
                .imgrcp {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 300px;
                    
                }
                p, ul, ol {
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 20px;
                    font-family: monospace;
                }
                strong {
                    display: block;
                    margin-right: auto;
                    margin-left: auto;
                    text-align: center;
                    padding: 40px 0px 10px 0px;
                    font-size: 20px;
                    font-family: monospace;

                }